@font-face {
  font-family: "Inconsolata";
  src: url(/fonts/inconsolata/Inconsolata.otf) format("truetype");
}

body {
  font-family: 'Inconsolata', 'Monospace';
  color: #1F2429;
  background-color: #fff;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 75ch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata', 'Monospace';
  font-size: 1em;
  font-weight: bold;
}

h1 {
  font-weight: bold;
}

a {
  color: #1F2429;
  text-decoration: none;
}

a:hover, a:focus {
  color: #fff;
  background-color: #1F2429;
}

p {
  text-align: justify;
}

table {
  margin-left: 4ch;
}



blockquote {
  text-align: right;
  font-style: italic;
  font-size: 1em;
}

code {
 font-size: 1em;
 font-family: 'Inconsolata', Monospace;
}

nav {
  display: block;
  margin-top: 10px;
}

nav ul {
  margin: 0;
  display: inline-block;
}

.menu-section {
  float: right;
}

.menu-lang {
  padding: 0;
}

nav a {
  text-transform: uppercase;
}

nav li {
  list-style-type: none;
  display: inline;
}

.date {
  float: right;
}

section {
  display: block;
  margin-top: 10%;
  position: relative;
  display: block;
}

section li {
  list-style-type: none;
}

section a {
  text-decoration: none;
}

section ul {
  padding-left: 4ch;
  max-width: 68ch;
}

.main-header h1 {
  margin-top: 0;
}

article {
  display: block;
  border-top: none;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  line-height: 1.25em;
}

.article-body table>thead>tr>th {
  border-bottom: 1px solid #1F2429;
  font-weight: normal;
}

.article-body table>tfoot>tr>th {
  border-top: 1px dashed #1F2429;
}

.article-body table>thead>tr>th,
.article-body table>tbody>tr>th,
.article-body table>tfoot>tr>th,
.article-body table>thead>tr>td,
.article-body table>tbody>tr>td,
.article-body table>tfoot>tr>td {
  padding-left: 1ch;
  padding-right: 1ch;
  border-right: 1px dashed #1F2429;
}

.article-body table {
  border-left: 1px dashed #1F2429;
}

.list-item {
  padding-top: 10px;
}

.tuple td {
  vertical-align: text-top;
}

.tr-title {
  width: 45ch;
}

.tr-section {
  width: 15ch;
  text-align: right;
}
.article-body a {
  color: #067df7;
}
.article-body a:hover,
.article-body a:focus {
  color: #fff;
  background-color: #067df7;
}

img {
  display: block;
  max-width: 100%;
}

.article-header {
  padding-top: 3em;
  padding-bottom: 2em;
}

hr {
  border: none;
  width: 9ch;
  margin-left: auto;
  margin-right: auto;
}

hr::before {
  content: "---------";
}

.article-body ul {
  padding-left: 4ch;
  max-width: 68ch;
}

.article-body ol {
  padding-left: 4ch;
  max-width: 71ch;
  counter-reset: item;
}

.article-body li {
  display: block;
  text-indent: -2ch;
  text-align: left;
}

.article-body ul li:before {
  content: "- ";
}

.article-body ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

.copyright li {
  padding: 0px;
}

#footer {
  display: block;
  max-width: 75ch;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
}

.language-blue {
  color: #067df7;
}

.language-green {
  color: #27c93f;
}

.language-pink {
  color: #ff0080;
}

.language-red {
  color: #ff5f56;
}
