/* CSS */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

html, body {
  font-size: 10pt;
  font-family: 'Fira Code', monospace;
  color: #1F2429;
  background-color: hsla(0, 0%, 97%, 1);
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 10pt;
  font-weight: bold;
}

h1 {
  font-weight: bold;
}

a {
  color: #1F2429;
  text-decoration: none;
}

a:hover, a:focus {
  color: #fff;
  background-color: #1F2429;
}

p {
  line-height: 1.4;
}

blockquote {
  font-style: italic;
}

code {
 font-size: 10pt;
 font-family: 'Fira Code', monospace;
 background-color: #fff;
}

.highlight {
  display: block;
  overflow: scroll;
  padding: 5px;
  border-top: 1px solid #ddd8dd;
  border-bottom: 1px solid #ddd8dd;
  background-color: #fff;
}

nav {
  display: block;
  margin-top: 25px;
}

nav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

nav>ul>li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.menu-section {
  width: 20%;
}

.copyright {
  width: 30%;
}

.menu-section h3 {
  text-transform: uppercase;
}

.menu-section ul {
  padding: 0;
  margin: 0;
}

.menu-lang {
  padding: 0;
}

nav li {
  list-style-type: none;
}

ol li{
    margin-top: 10px;
}

ol li:first-child {
    margin-top: 0;
}

.date {
  float: right;
}

.article-body>p, ul, li, h1, h2, h3, h4, h5, h6, blockquote {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.section-body>p, ul, li, h1, h2, h3, h4, h5, h6, blockquote {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

main {
  border-right: 1px solid #ddd8dd;
  border-left: 1px solid #ddd8dd;
  display: block;
  max-width: 1440px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

section {
  display: block;
  width: calc(80ch + 5rem);
  border-right: 1px solid #ddd8dd;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section li {
  list-style-type: none;
}

section a {
  text-decoration: none;
}

.head-aside {
    margin-top: 1rem;
}

.sidenote {
  font-size: 8pt;
  max-width: calc(1440px/4);
}

.sidenote>blockquote {
    margin: 0;
    padding: 0;
}

.sidenote a {
  color: #067df7;
}
.sidenote a:hover,
.sidenote a:focus {
  color: #fff;
  background-color: #067df7;
}

@media not all and (max-width: 43.6rem) {
  aside {
    position: absolute;
    margin-left: calc(80ch + 6.5rem);
    min-width: 50ch;
  }
}

.article-body ul {
  padding-left: 4ch;
  max-width: 68ch;
}

.title {
  margin: 7%;
  text-align: center;
}

article {
  display: block;
  border-top: none;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  line-height: 1.25em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table>thead>tr>th {
  font-weight: bold;
  text-align: left;
}

tr, td, th {
  border-bottom: 1px solid #ddd8dd;
}

table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
  padding: 8px;
}

th:first-child {
  padding-left: 2.5rem;
}

td:first-child {
  padding-left: 2.5rem;
}

.list-item {
  padding-top: 10px;
}

.tuple td {
  vertical-align: text-top;
}

.tr-title {
  width: 45ch;
}

.tr-section {
  width: 15ch;
  text-align: right;
}

.article-header {
 padding-left: 2.5rem;
 padding-top: 2rem;
 padding-bottom: 2rem;
 border-bottom: 1px solid #ddd8dd;
}

.article-header a {
  color: #067df7;
}
.article-header a:hover,
.article-header a:focus {
  color: #fff;
  background-color: #067df7;
}

.article-header ul {
  padding-left: 4ch;
  max-width: 68ch;
}

.article-body a {
  color: #067df7;
}
.article-body a:hover,
.article-body a:focus {
  color: #fff;
  background-color: #067df7;
}

img {
  display: block;
  max-width: 100%;
}

hr {
  width: 100%;
  border-top: 1px solid #ddd8dd;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.article-body ul {
  padding-left: 4ch;
  max-width: 68ch;
}

.article-body ol {
  padding-left: 4ch;
  max-width: 71ch;
  counter-reset: item;
}

.article-body li {
  display: block;
  text-indent: -2ch;
  text-align: left;
}

.article-body ul li:before {
  content: "- ";
}

.article-body ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

#footer {
  padding-left: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #ddd8dd;
  border-bottom: 1px solid #ddd8dd;
}

.menu {
  display: flex;
}

.language-ascii {
  color: #067df7;
  display: block;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  background-color: transparent;
}

.language-ascii-art-black {
  color: #067df7;
  display: block;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  background-color: transparent;
}

.language-ascii-art-blue {
  color: #067df7;
  display: block;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  background-color: transparent;
}

.language-ascii-art-pink {
  color: #ff0080;
  display: block;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  background-color: transparent;
}

@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}

    p, ul, li, h1, h2, h3, h4, h5, h6 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .article-body p, ul, li, h1, h2, h3, h4, h5, h6 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    th:first-child {
        padding-left: 1rem;
    }

    td:first-child {
        padding-left: 1rem;
    }

    .article-header {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .head-aside {
        padding-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section-body>p, ul, li, h1, h2, h3, h4, h5, h6, blockquote {
        padding-left: 1rem;
        padding-right: 1rem;
    }

	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: auto;
		margin: 0;
		padding: 0;
	}

  section {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-right: none; 
  }

  main {
    width: auto;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  #footer {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}

	/* conserver le ratio des images */

	img {
		height: auto;
	}

	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}

	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}

	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.element1,
	.element2 {
		float: none;
		width: auto;
	}

	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
	}

    .language-ascii-art-black {
        margin: 0px;
        background-color: transparent;
    }

    .language-ascii-art-blue {
        margin: 0px;
    }

    .language-ascii-art-pink {
        margin: 0px;
    }

    .language-ascii {
        font-size: 8px;
        display: block;
        margin: 0px;
        background-color: transparent;
    }

    .language-ascii-art-black {
        font-size: 8px;
        display: block;
        margin: 0px;
        background-color: transparent;
    }

    .language-ascii-art-blue {
        font-size: 8px;
        display: block;
        margin: 0px;
        background-color: transparent;
    }

    .language-ascii-art-pink {
        font-size: 8px;
        display: block;
        margin: 0px;
        background-color: transparent;
    }

    .menu {
        display: block;
    }

    .menu-section {
        width: 30%;
        float: left;
    }
}
