{{ partial "head.html" . }}
<section>
    {{ partial "body" . }}
  <div class="section-body">
    <p><a class="blue-link" href=/notes>/notes</a> -> short notes for myself and others</p>
    <ul>
        {{ $posts := (where .Site.RegularPages "Type" "notes").ByDate.Reverse | first 5 }}
        {{ range $posts }}
        <li>
        <span>
            <time>
                {{ with .Site.Params.DateForm }}
                {{ .Date.Format . }}
                {{ else }}
                {{ .Date.Format "2006 Jan 02" }}
                {{ end }}
            </time>
        </span>|
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    <p><a class="blue-link" href=/blog>/blog</a> -> my personal blog</p>
    <ul>
        {{ $posts := (where .Site.RegularPages "Type" "blog").ByDate.Reverse | first 5 }}
        {{ range $posts }}
        <li>
        <span>
            <time>
                {{ with .Site.Params.DateForm }}
                {{ .Date.Format . }}
                {{ else }}
                {{ .Date.Format "2006 Jan 02" }}
                {{ end }}
            </time>
        </span>|
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    <p><a class="blue-link" href=/articles>/articles</a> -> long format articles</p>
    <ul>
        {{ $posts := (where .Site.RegularPages "Type" "articles").ByDate.Reverse | first 5 }}
        {{ range $posts }}
        <li>
        <span>
            <time>
                {{ with .Site.Params.DateForm }}
                {{ .Date.Format . }}
                {{ else }}
                {{ .Date.Format "2006 Jan 02" }}
                {{ end }}
            </time>
        </span>|
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    </div>
</section>
{{ partial "foot" . }}
