<nav>
  <div class="menu">
    <ul class="sidebar-menu">
      {{ $currentPage := . }}
      <li>
        {{ range $index := .Site.Menus.lang}}
          {{ .Pre }}
          <a href="{{.URL}}">
            <span>{{ .Name }}</span>
          </a>
        {{ end }}
      </li>
      {{ range .Site.Menus.main }}
        <li>
          <a href="{{.URL}}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        </li>
        {{end}}
    </ul>
  </div>
  <div class="table-of-content">
    {{ .TableOfContents }}
  </div>
</nav>


