<nav class="menu">
  <div class="menu-section">
    {{ $currentPage := . }}
    <h3>
      {{ range $index := .Site.Menus.lang}}
      {{ .Pre }}
      <a href="{{.URL}}">
        <span>{{ .Name }}</span>
      </a>
      {{ end }}
    </h3>
  </div>
    {{ range .Site.Menus.main }}
  <div class="menu-section">
    {{ if .HasChildren }}
        <h3><a>{{ .Name }}</a></h3>
    <ul class="submenu">
      {{ range .Children }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    {{ else }}
      <h3><a href="{{.URL}}">
        {{ .Name }}
        </a></h3>
    {{end}}
  </div>
    {{end}}
  <div class="menu-section copyright">
    <h3>Copyright</h3>
  </div>
</nav>


