{{ partial "head.html" . }}
<section>
  {{ partial "body" .}}
  </br>
  <div class="section-body">
    <table>
        <thead>
        <tr><th>Title</th><th>Author</th></tr>
        </thead>
        <tbody>
        {{ range sort $.Site.Data.readings "name" "desc" }}
        <tr><td style="padding-top:2.5rem;"><strong>{{ .name }}</strong><td></tr>
        {{ range .readings }}
        <tr><td><em>{{ .title }}</em></td><td>{{ .author }}</td></tr>
        {{ end }}
        {{ end }}
        </tbody>
    </table>
  </div>
</section>
{{ partial "foot" . }}
